.terminal {
    margin-bottom: 1em;
    padding: 0.5em;
    background: #fafafa;
    color: #663399;
    border: solid silver 1px;
    border-radius: 4px;
    font-size: .9rem;
}

.terminal .SIntrapara {
    margin: 0 0 0 0;
}

.terminal .prompt {
    margin-left: .5rem;
}

.terminal .prompt:before {
    content: "❯";
    font-size: .95rem;
    float: left;
    margin-top: -1px;
    color: #aaaaaa;
}

.prompt {
    color: #000;
}

.terminal .stt {
    font-size: .9rem;
}

aside.inline-note {
    border: 1px solid #ccb;
    border-left: 0.4rem solid #ccb;
    padding: 0.5em 0.5em 0.5em 3em;
    display: block;
    position: relative;
    overflow: auto;
    background-color: hsl(60, 29%, 94%);
    margin-bottom: 1rem;
}

aside.inline-note:before {
    content: "☞";
    font-size: 1.4em;
    width: 1.2em;
    height: 1.2em;
    left: .85rem;
    top: .25rem;
    display: inline-block;
    position: absolute;
}

aside.inline-note.tip:before { content: "💡"; }
aside.inline-note.warning:before { content: "⚠️"; }
aside.inline-note.note:before { content: "☞"; }

aside.inline-note > .SIntrapara:last-child { margin-bottom: 0; }


