name: Tests
on:
  push:
    branches: [main]
  pull_request:
    types: [opened, synchronize]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        racket-version: ['stable', 'current']
    name: Test on Racket ${{ matrix.racket-version }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@master
      - name: Install Racket ${{ matrix.racket-version }}
        uses: Bogdanp/setup-racket@v1.14
        with:
          architecture: 'x64'
          distribution: 'full'
          version: ${{ matrix.racket-version }}
      - name: Install toml-config lib and dependencies
        run: raco pkg install --auto --batch --link toml-config-lib/
      - name: Run tests
        run: raco pkg install --auto --batch --link toml-config-tests/ && raco test toml-config-tests
      - name: Build docs
        run: raco pkg install --auto --batch --link toml-config/
